<!--<p>
    {{ nombre }}
  </p>-->

<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="" />
    <span
      ><h4>{{ position }}</h4></span
    >
  </div>
  <div class="card-desc">
    <h3>{{ destino?.nombre }}</h3>
    <p>Servicios</p>
    <ul>
      <li *ngFor="let item of destino!.servicios">
        <span [ngSwitch]="item">
          <i *ngSwitchCase="'Desayuno'" style="color: red">{{ item }}</i>
          <i *ngSwitchDefault> {{ item }} </i>
        </span>
      </li>
    </ul>
  </div>
  <div>
    <a href="#" (click)="voteUp()"
      ><i class="material-icons md-18">thumb_up</i></a
    >
    <a href="#" (click)="voteDown()"
      ><i class="material-icons md-18">thumb_down</i></a
    >
    {{destino?.votes}}
  </div>
  <a class="btn-card" (click)="ir()">IR</a>
  <!--le ponemos el display none o que se vea, segun si es o no seleccionad  [style.display]="destino!.isSelected() ? '' : 'none'" o usamos *ngif -->
  <span *ngIf="destino!.isSelected()">
    <span ngNonBindable> {{ Preferido }} </span>
  </span>
  <a [routerLink]="['/destino']">Ver detalle</a>
</div>
