<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1>Routeo simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']"> Home</a>

        <a [routerLink]="['/destino']"> Destiono</a>
      </div>
    </div>
  </div>
  <div class="col">
    <h1>
      {{ title }}
    </h1>
  </div>

  <br />
  <br />
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<hr class="mt-5" />
<!--Va estar se manera asincrona para usar los observables-->

Fecha: {{ time | async }}
