<form
  [formGroup]="fg"
  (ngSubmit)="
    guardar(fg.controls['nombre'].value, fg.controls['imagenUrl'].value)
  "
>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      placeholder="Ingresa tu nombre..."
      formControlName="nombre"
    />
    <ul>
      <li *ngFor="let item of searchResults">{{item}</li>
    </ul>
    <div *ngIf="fg.controls['nombre'].valid">Nombre invalido!</div>
    <div *ngIf="fg.controls['nombre'].hasError('required')">
      Nombre invalido!
    </div>
    <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">
      Nombre invalido!
    </div>
    <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">
      Mínimo {{ minLongNombre }} de largo
    </div>
    <label for="imagenUrl">Url Imagen</label>
    <input
      type="text"
      class="form-control"
      id="imagenUrl"
      placeholder="Ingresa url..."
      formControlName="imagenUrl"
    />
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="fg.valid">
    Guardar
  </button>
</form>
